* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-transition: background .2s;
  transition: background .2s;
}

body {
  background-color: #191919;
  overflow-x: hidden;
}

hr {
  border: solid 0.05px #D94A24;
}

span {
  color: #D94A24;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.2rem;
  padding-top: 1rem;
  background-color: #191919;
  width: 100%;
  z-index: 1;
}

nav h2 {
  color: #F2F2F2;
  font-size: 1.6rem;
}

nav ul {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #F2F2F2;
  margin: 0 2rem;
  font-size: 1rem;
}

nav ul li a i {
  font-size: 1.6rem;
  margin: 0;
}

nav .links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 8vh;
  background-color: #191919;
  width: 50%;
  height: 92vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: abrir 0.5s ease-in-out;
          animation: abrir 0.5s ease-in-out;
}

nav .links li {
  opacity: 0;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.menu .burger {
  position: absolute;
  right: 0;
  width: 30px;
  height: 5px;
  background-color: #F2F2F2;
  border-radius: 50px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu .burger::before, .menu .burger::after {
  content: '';
  position: absolute;
  right: 8px;
  width: 30px;
  height: 5px;
  background-color: #F2F2F2;
  border-radius: 50px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu .burger::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.menu .burger::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.menu.open .burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu.open .burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu.open .burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.links.nav-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes abrir {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes abrir {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navOpen {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navOpen {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.enlaces i {
  font-size: 2rem;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 9rem;
}

.inicio h1 {
  text-align: center;
  color: #F2F2F2;
  font-size: 2rem;
}

.inicio p {
  color: #F2F2F2;
  text-align: center;
  font-size: .8rem;
}

.inicio .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #090909;
  width: 100%;
  height: 50%;
  margin-top: 7rem;
  padding: 3rem 0;
}

.inicio .botones ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.inicio .botones ul li {
  list-style: none;
  margin: 0 1rem;
}

.inicio .botones a {
  color: #F2F2F2;
  text-decoration: none;
}

.inicio .botones div {
  width: 50%;
  height: 5vh;
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.inicio .botones .contenedor-pro {
  background-color: #D94A24;
  margin-bottom: 1.5rem;
}

.inicio .botones .contenedor-hab {
  background-color: #F2F2F2;
  margin-top: 1.5rem;
}

.inicio .botones .contenedor-hab a {
  color: #191919;
  text-transform: uppercase;
}

.inicio .botones .dark-mode {
  padding-top: 5vh;
}

.inicio .botones .dark-mode .checkbox {
  position: absolute;
  opacity: 0;
}

.inicio .botones .dark-mode .checkbox:checked + label {
  background-color: #191919;
}

.inicio .botones .dark-mode .checkbox:checked + label .ball {
  background-color: #F2F2F2;
  -webkit-transform: translateX(32px);
          transform: translateX(32px);
}

.inicio .botones .dark-mode label {
  width: 4rem;
  height: 2rem;
  border: solid #F2F2F2 3px;
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5px;
  position: relative;
}

.inicio .botones .dark-mode label .fa-moon {
  color: #f1a90f;
  font-size: 1.2rem;
}

.inicio .botones .dark-mode label .fa-sun {
  color: #d98b24;
  font-size: 1.2rem;
}

.inicio .botones .dark-mode label .ball {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background-color: #F2F2F2;
  top: 1px;
  left: 1.5px;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.tag {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tag h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #F2F2F2;
}

.tag i {
  font-size: 1.5rem;
  color: #F2F2F2;
  animation: callToAction 1s infinite alternate-reverse;
}

@-webkit-keyframes callToAction {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes callToAction {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 13vw;
    padding-right: 13vw;
  }
  nav ul li a:hover {
    color: #b8b8b8;
  }
  nav .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .socials li a {
    margin: .4rem;
  }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: inherit;
    position: relative;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 70vw;
    top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation: none;
            animation: none;
  }
  nav .links li {
    opacity: 1;
  }
  nav .links li a {
    position: relative;
    display: inline-block;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  nav .links li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #F2F2F2;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
  }
  nav .links li a:hover::before {
    content: '';
    width: 100%;
  }
  .inicio {
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .inicio .titulo h1 {
    font-size: 3.5rem;
  }
  .inicio .titulo p {
    font-size: 1.2rem;
    margin-top: -1rem;
  }
  .inicio .botones {
    width: 30vw;
    height: 100vh;
    margin-top: 0;
    padding-top: 15rem;
  }
  .inicio .botones ul {
    display: none;
  }
  .inicio .botones div {
    height: 6vh;
    margin-bottom: 5rem;
  }
  .landing .tag {
    position: absolute;
    top: 75vh;
    left: 13vw;
  }
  .landing .tag i {
    top: -5vh;
    left: 35vw;
    position: absolute;
  }
}

#proyectos .tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

#proyectos .tarjeta img {
  max-width: 90vw;
  border-bottom: solid 2rem #D94A24;
}

#proyectos .tarjeta .info {
  max-width: 90vw;
  padding: 1.6rem 1.6rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#proyectos .tarjeta .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

#proyectos .tarjeta .info div h3 {
  font-size: 1.8rem;
  color: #D8D8D8;
}

#proyectos .tarjeta .info div h5 {
  background-color: #F2F2F2;
  border-radius: 500px;
  padding: 3px 1.2rem;
  color: #090909;
}

#proyectos .tarjeta .info p {
  color: #F2F2F2;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 3vh;
}

#proyectos .tarjeta .repositorios a {
  margin-top: 2rem;
  background-color: #D94A24;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: #F2F2F2;
  padding: .8rem 3rem;
  border-radius: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#proyectos .tarjeta .repositorios a i {
  margin-right: .8rem;
}

#proyectos .tarjeta .tecnologias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#proyectos .tarjeta .tecnologias img {
  margin: 0;
  width: 3rem;
  height: 3rem;
  border: none;
}

#proyectos .btn-contactame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10rem;
  margin-bottom: 0;
}

#proyectos .btn-contactame h3 {
  color: #F2F2F2;
  font-size: 1.4rem;
}

#proyectos .btn-contactame a {
  text-decoration: none;
  background-color: #D94A24;
  padding: .8rem 3rem;
  border-radius: 500px;
  color: #F2F2F2;
  font-weight: bold;
  font-size: 1.1rem;
}

#proyectos .tag {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#proyectos .open-tag {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  #proyectos .tarjeta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 13vw;
    padding-right: 13vw;
  }
  #proyectos .tarjeta .info, #proyectos .tarjeta img {
    height: 40vh;
  }
  #proyectos .tarjeta img {
    width: 30vw;
    border-right: solid 2rem #D94A24;
    border-bottom: none;
  }
  #proyectos .tarjeta .info {
    border-bottom-left-radius: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  #proyectos .tarjeta .info h3 {
    font-size: 1.6rem;
  }
  #proyectos .tarjeta .info p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  #proyectos .tarjeta .tecnologias img {
    width: 2rem;
    height: 2rem;
  }
  #proyectos .tarjeta .repositorios {
    height: 45vh;
    margin-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #proyectos .tarjeta .repositorios a {
    padding: .4rem 2rem;
    font-size: 1rem;
    margin-top: 0;
  }
  #proyectos .tarjeta .repositorios a i {
    font-size: 1.3rem;
    margin-right: .4rem;
  }
  #proyectos .tarjeta .repositorios .git {
    background-color: transparent;
    border: solid 2px #D94A24;
    background-size: 200% 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #D94A24));
    background-image: linear-gradient(to right, transparent 50%, #D94A24 50%);
    -webkit-transition: background-position .5s;
    transition: background-position .5s;
  }
  #proyectos .tarjeta .repositorios .git:hover {
    background-position: -100% 0;
  }
  #proyectos .tarjeta .repositorios .visualizar {
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
  }
  #proyectos .tarjeta .repositorios .visualizar:hover {
    background: #d33b11;
  }
  #proyectos .btn-contactame a {
    padding: .6rem 2rem;
    font-size: 1rem;
  }
  #proyectos .open-tag {
    margin-top: 5rem;
  }
}

.habilidades {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.habilidades .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.habilidades .about img {
  width: 60vw;
  border-bottom: solid 1rem #D94A24;
  margin-bottom: 1em;
}

.habilidades .about p {
  color: #F2F2F2;
}

.habilidades div .tag h2 {
  font-size: 1.2rem;
}

.habilidades .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.habilidades .skills .tarjeta-skills {
  background-color: #090909;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.habilidades .skills .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F2F2F2;
  margin-top: 2em;
  margin-bottom: 2em;
}

.habilidades .skills .titulo h3 {
  font-size: 1.6rem;
  margin-left: .8rem;
  margin-right: .8rem;
}

.habilidades .skills .titulo i {
  font-size: 1.2rem;
}

.habilidades .skills .imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3 2;
          flex: 3 2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
}

.habilidades .skills .imagenes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.habilidades .skills .imagenes div span {
  color: #F2F2F2;
  margin-bottom: 2em;
}

.habilidades .skills .imagenes img {
  width: 4rem;
  height: 4rem;
  margin: 0.6rem 1rem;
}

@media screen and (min-width: 1024px) {
  .habilidades {
    padding-left: 13vw;
    padding-right: 13vw;
  }
  .habilidades .open-tag, .habilidades .tag {
    padding-bottom: 0;
  }
  .habilidades .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .habilidades .about img {
    width: 18vw;
    border: none;
    border-left: solid 1.4rem #D94A24;
  }
  .habilidades .about p {
    margin-right: 7rem;
  }
  .habilidades .skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .habilidades .skills .tarjeta-skills {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    width: 20vw;
  }
  .habilidades .skills .tarjeta-skills img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .habilidades .skills .titulo :is(h3, i) {
    font-size: 1.2rem;
  }
  .habilidades .skills span {
    font-size: .8rem;
  }
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.2rem;
}

.contacto .open-tag {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contacto .final-tag {
  padding-bottom: 0;
}

.contacto .final-tag h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.contacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70vw;
}

.contacto form input, .contacto form textarea {
  background-color: #D8D8D8;
  border: none;
  color: #191919;
}

.contacto form label {
  color: #D94A24;
  font-size: 1.2rem;
  margin-top: 1.4rem;
  margin-bottom: .3rem;
}

.contacto form input {
  border-radius: 500px;
  height: 1.8rem;
  width: 100%;
  outline: none;
  padding: 0 1rem;
}

.contacto form textarea {
  border-radius: 10px;
  width: 100%;
  outline: none;
  padding: .3rem 1rem;
}

.contacto form a {
  outline: none;
  border: none;
  color: #F2F2F2;
  background-color: #D94A24;
  font-size: 1.1rem;
  padding: .6rem 2rem;
  border-radius: 500px;
  margin-top: 1.3rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.contacto form a i {
  margin-right: .6rem;
}

.contacto .redes {
  padding: 2.2rem;
  background-color: #090909;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .redes a {
  text-decoration: none;
  color: #F2F2F2;
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.contacto .redes .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacto .redes .contact-info a {
  font-size: 1.1rem;
}

.contacto .redes .contact-info i {
  font-size: 1.6rem;
  margin-right: 1.2rem;
}

.contacto .redes .cv {
  background-color: #D94A24;
  padding: .8rem 2.2rem;
  border-radius: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contacto .redes .cv i {
  margin-right: .5rem;
}

.contacto .redes .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.contacto .redes .up i, .contacto .redes .up p {
  color: #D94A24;
}

.contacto .redes .up i {
  font-size: 2.6rem;
}

@media screen and (min-width: 1024px) {
  .contact-tag h2 {
    margin-bottom: 0;
  }
  .contacto {
    padding: 0 13vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .contacto form input, .contacto form textarea {
    width: 80%;
  }
  .contacto form a {
    font-size: 1rem;
  }
  .contacto .redes {
    width: 40vw;
    height: auto;
    margin-bottom: 0;
  }
  .contacto .redes .cv {
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-size: .8rem;
    cursor: pointer;
  }
  .contacto .final-tag {
    position: absolute;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .contacto .final-tag h2 {
    margin-bottom: 0;
  }
}

body.light-mode {
  background-color: #F2F2F2;
}

body.light-mode nav {
  background-color: #F2F2F2;
}

body.light-mode nav ul li a:hover, body.light-mode nav ul li i:hover {
  color: #5a5a5a;
}

body.light-mode h1, body.light-mode h2, body.light-mode p, body.light-mode a, body.light-mode i {
  color: #191919;
}

body.light-mode .menu .burger {
  background-color: #191919;
}

body.light-mode .menu .burger::after, body.light-mode .menu .burger::before {
  background-color: #191919;
}

body.light-mode .menu.open .burger {
  background: transparent;
}

body.light-mode .links {
  background-color: #F2F2F2;
}

body.light-mode .links a::before {
  background-color: #191919;
}

body.light-mode #buttons {
  background-color: #D8D8D8;
}

body.light-mode #buttons .contenedor-hab {
  background-color: #191919;
}

body.light-mode #buttons .contenedor-hab a {
  color: #F2F2F2;
}

body.light-mode #buttons label {
  border-color: #191919;
  background-color: #F2F2F2;
}

body.light-mode #buttons label .ball {
  background-color: #191919;
}

body.light-mode .tag p {
  color: #090909;
}

body.light-mode #proyectos .tarjeta .info div h3 {
  color: #090909;
}

body.light-mode #proyectos .tarjeta .info div h5 {
  background-color: #191919;
  color: #D8D8D8;
}

body.light-mode #proyectos .tarjeta .info p {
  color: #191919;
}

body.light-mode #proyectos .tarjeta .repositorios i, body.light-mode #proyectos .tarjeta .repositorios a {
  color: #191919;
}

body.light-mode #proyectos .tarjeta .repositorios .visualizar:hover {
  background: #d43b11;
}

body.light-mode #proyectos .btn-contactame h3 {
  color: #191919;
}

body.light-mode .habilidades h3 {
  color: #191919;
}

body.light-mode .habilidades p {
  color: #191919;
}

body.light-mode .habilidades .tarjeta-skills {
  color: #191919;
  background-color: #D8D8D8;
}

body.light-mode .habilidades .tarjeta-skills span {
  color: #191919;
}

body.light-mode .contacto i {
  color: #F2F2F2;
}

body.light-mode .redes {
  background-color: #D8D8D8;
}

body.light-mode .redes .contact-info :is(a, i) {
  color: #191919;
}
/*# sourceMappingURL=style.css.map */